@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

h1, h2{
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.5em;
}

p{
    text-align: justify;
    margin-bottom: 10px;
}

header, section.normal{
    padding: 20px;
}

section.flex-content{
    background-color: lightgray;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}

article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
}

article > div.text{
    flex: 1 1 500px;
}

article > div.media{
    flex: 1 0 400px;
}

div.media > img{
    display: block;
    margin: auto;
    padding-bottom: 20px;
    width: 300px;
}

div.media > iframe{
    display: block;
    margin: auto;
    width: 90%;
}